@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Righteous', cursive;
}

/* estilos das cartas */
.card-container {
    position: relative;

    cursor: pointer;
    width: 15rem;
    height: 15rem;

    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-front, .card-back {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    border-radius: 2rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.45);

    backface-visibility: hidden;
}

.flip {
    transform: rotateY(180deg);
}

.card-front {
    transform: rotateY(180deg);
    background-color: #101c2c;
}

.card-back {
    background-color: #05c3ff;
    font-size: 4rem;
}